Repository AkaakuHub/Genshinpy: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,js}"
      run: pnpm lint {staged_files}
    prettier:
      glob: "*.{ts,js,json,md}"
      run: pnpm format {staged_files}
    type-check:
      run: pnpm type-check
    knip:
      run: pnpm knip

pre-push:
  commands:
    check-all:
      run: pnpm check-all

commit-msg:
  commands:
    commitlint:
      run: echo "Commit message checked"

chore: 一度ワークフローを削除
  .github/workflows/python-package-conda.yml
  .github/workflows/scrape-and-deploy.yml
Due: none

actions
  .github/workflows/manual-scrape.yml
  .github/workflows/weekly-scrape.yml
  README.md
  eslint.config.js
  manual-scrape.ts
  package.json
  src/scrapers/weekly-scraper.ts
  tsconfig.json
Due: lint, prettier

feat: Add icon property to Character interface and remove any types
  .github/workflows/scrape-and-deploy.yml
  .gitignore
  genshin-viewer/.gitignore
  genshin-viewer/README.md
  genshin-viewer/eslint.config.js
  genshin-viewer/package.json
  genshin-viewer/pnpm-lock.yaml
  genshin-viewer/public/data/characters.json
  genshin-viewer/public/data/kamisato-ayaka-pure-api.json
  genshin-viewer/public/data/kamisato-ayaka.json
  genshin-viewer/public/data/metadata.json
  genshin-viewer/src/App.css
  genshin-viewer/src/App.tsx
  genshin-viewer/src/components/AscensionViewer.tsx
  genshin-viewer/src/components/CharacterProfile.tsx
  genshin-viewer/src/components/CharacterViewer.tsx
  genshin-viewer/src/components/ConstellationViewer.tsx
  genshin-viewer/src/components/ProgressionViewer.tsx
  genshin-viewer/src/components/TalentViewer.tsx
  genshin-viewer/src/index.css
  genshin-viewer/src/main.tsx
  genshin-viewer/src/types/character.ts
  genshin-viewer/src/vite-env.d.ts
  genshin-viewer/tsconfig.app.json
  genshin-viewer/tsconfig.json
  genshin-viewer/tsconfig.node.json
  genshin-viewer/vite.config.ts
  manual-scrape.ts
  old_python.py
  pure-api-scraper.ts
  scrape-all-characters.ts
  src/scrapers/character-scraper.ts
  src/scrapers/config.ts
  src/types/character.ts
  src/types/talent.ts
  test-real-data.ts
  vitest.config.ts
Due: lint, prettier

chore: Final cleanup - remove obsolete files and workflows
  .github/workflows/manual-scrape.yml
  .github/workflows/scrape-and-deploy.yml
  .github/workflows/weekly-scrape.yml
  genshin-viewer/public/data/kamisato-ayaka-pure-api.json
  genshin-viewer/public/data/kamisato-ayaka.json
  old_python.py
Due: prettier

feat: Change scraping schedule to weekly
  .github/workflows/scrape-and-deploy.yml
Due: none

fix: Prettier formatting for birthday property
  .github/workflows/scrape-and-deploy.yml
  lefthook.yml
  pure-api-scraper.ts
Due: lint, prettier

fix: Add comprehensive ESLint suppressions for API scraper
  .github/workflows/scrape-and-deploy.yml
  pure-api-scraper.ts
  scrape-all-characters.ts
Due: lint, prettier

fix: すべてのTypeScript型エラーを修正し、ESLint無効化を削除
  genshin-viewer/eslint.config.js
  genshin-viewer/src/components/AscensionViewer.tsx
  genshin-viewer/src/components/CharacterViewer.tsx
  genshin-viewer/src/components/ConstellationViewer.tsx
  genshin-viewer/src/components/ProgressionViewer.tsx
  genshin-viewer/src/components/TalentViewer.tsx
  knip.json
  lefthook.yml
  package.json
  pure-api-scraper.ts
  scrape-all-characters.ts
  src/types/character.ts
Due: lint, prettier

fix: GitHub Actionsをpnpmサポートに修正
  .github/workflows/scrape-and-deploy.yml
Due: none

fix: pnpmバージョン競合を解決
  .github/workflows/scrape-and-deploy.yml
Due: none

fix: TypeScriptコンパイルエラーを修正
  genshin-viewer/tsconfig.app.json
Due: prettier

fix: React Viteビルドエラーを完全修正
  genshin-viewer/src/components/CharacterViewer.tsx
  genshin-viewer/tsconfig.node.json
Due: prettier

fix: ESLintでgenshin-viewerディレクトリを除外
  genshin-viewer/vite.config.ts
Due: lint, prettier

すごい
  eslint.config.js
Due: lint, prettier

fix: lefthook
  lefthook.yml
Due: none

fix: pnpm-lock.yamlを更新してpuppeteer依存関係を完全削除
  pnpm-lock.yaml
Due: none

fix: all build
  genshin-viewer/public/data/------.json
  genshin-viewer/public/data/-----.json
  genshin-viewer/public/data/----.json
  genshin-viewer/public/data/---.json
  genshin-viewer/public/data/--.json
  genshin-viewer/public/data/-.json
  genshin-viewer/public/data/Amber.json
  genshin-viewer/public/data/Barbara.json
  genshin-viewer/public/data/Beidou.json
  genshin-viewer/public/data/Bennett.json
  genshin-viewer/public/data/Diluc.json
  genshin-viewer/public/data/Fischl.json
  genshin-viewer/public/data/Jean.json
  genshin-viewer/public/data/Kaeya.json
  genshin-viewer/public/data/Kamisato Ayaka.json
  genshin-viewer/public/data/Klee.json
  genshin-viewer/public/data/Lisa.json
  genshin-viewer/public/data/Ningguang.json
  genshin-viewer/public/data/Razor.json
  genshin-viewer/public/data/Tartaglia.json
  genshin-viewer/public/data/Venti.json
  genshin-viewer/public/data/Xiangling.json
  genshin-viewer/public/data/Xiao.json
  genshin-viewer/public/data/Xingqiu.json
  genshin-viewer/public/data/Zhongli.json
  genshin-viewer/public/data/characters.json
  genshin-viewer/public/data/kamisato-ayaka.json
  genshin-viewer/public/data/metadata.json
Due: prettier

fix: 生成されるJSONファイルと画像をGit追跡から除外
  .gitignore
Due: none

fix: ignore
  .github/workflows/scrape-and-deploy.yml
Due: none

ａ
  .github/workflows/scrape-and-deploy.yml
Due: none

fix: script
  .github/workflows/scrape-and-deploy.yml
  genshin-viewer/vite.config.ts
Due: lint, prettier

fix: script2
  genshin-viewer/vite.config.ts
Due: lint, prettier

fix: script3
  genshin-viewer/vite.config.ts
Due: lint, prettier

fix: script4
  .github/workflows/scrape-and-deploy.yml
Due: none

i ndec
  .gitignore
  genshin-viewer/index.html
Due: none

mergeしたい
  .github/workflows/scrape-and-deploy.yml
Due: none

actionsでコミット
  .github/workflows/scrape-and-deploy.yml
Due: none

fix: ignore
  .gitignore
Due: none

fix: yaml
  .github/workflows/scrape-and-deploy.yml
Due: none

fix: 相対パスでデータファイルにアクセス
  genshin-viewer/src/components/CharacterViewer.tsx
Due: none

feat: GitHub ActionsでdistもコミットしてリポジトリベースのPages対応
  .github/workflows/scrape-and-deploy.yml
  genshin-viewer/.gitignore
Due: none

fix: .gitignoreでdistが除外されていた問題を修正
  genshin-viewer/dist/assets/index-DAKOOOmi.js
  genshin-viewer/dist/assets/index-DChVJrBY.css
  genshin-viewer/dist/index.html
Due: lint, prettier

git
  .github/workflows/scrape-and-deploy.yml
  .gitignore
Due: none
